{%extends 'base.html'%}
{% load bootstrap4 %}
{% load socialaccount %}
{% load static %}
{%block body%}
<div class="container my-5" style="max-width: 500px;">
  <div class="p-4" style="border: 1px solid rgba(0,0,0,0.1); border-radius:5px;">
    <form action="" method="post">
      {%csrf_token%}
      {%bootstrap_form form%}
      <div class="text-center mb-3">
        <input class="btn btn-dark" type="submit" value="로그인">
      </div>
    </form>
    <hr>
    <div class="text-center">
      <h6 class="text-center">계정이 없으신가요? <a href="{% url 'accounts:signup' %}">회원가입</a></h6>
      <h6 class="font-weight-bolder text-muted" style="font-size: 0.8rem;">또는</h6>
      <a href="{% provider_login_url 'kakao' %}"><img src="{% static 'kakao_login.png' %}" alt=""></a>
    </div>
  </div>
</div>
{%endblock%}