{%extends 'base.html'%}
{% load humanize %}
{%block body%}
<div class="container my-5">
  <h1 class="mb-3">👋 {{user.username}}</h1>
  <div class="d-flex justify-content-around py-3 mb-4" style="border: 2px solid gray; border-radius:3px;">
    <div>
      <h4>내가 팔로잉 하는 사람</h4>

      {% for following in user.followings.all %}
      <h5 class="text-center"><a href="{% url 'accounts:user_page' following.id%}">{{following.username}}</a></h5>
      {% endfor %}

    </div>
    <div>
      <h4>나를 팔로우 하는 사람</h4>
      {% for follower in user.followers.all %}
      <h5 class="text-center"><a href="{% url 'accounts:user_page' follower.id%}">{{follower.username}}</a></h5>
      {% endfor %}
    </div>
  </div>
  <h2 class="my-3">📝 나의 POST [{{user.post_set.count}}]</h2>
  <hr>
  <div class="my-4">
    {% for post in user.post_set.all %}
    <div class="d-flex">
      <h6 class="mr-3">{{post.created_at|naturaltime}}</h6>
      <h5 class="font-weight-bold">
        <a href="{% url 'posts:detail' post.id%}" class="text-dark" style="text-decoration: none;">
          {{post.title}}
        </a>
      </h5>
    </div>
    {% endfor %}
  </div>

  <h2 class="my-3">💬 나의 COMMENT [{{user.comment_set.count}}]</h2>
  <hr>
  <div class="my-4">
    {% for comment in user.comment_set.all %}
    <div class="d-flex">
      <h6 class="mr-3">{{comment.created_at|naturaltime}}</h6>
      <h5>
        <a href="{% url 'posts:detail' comment.post.id%}" class="text-dark  font-weight-bold"
          style="text-decoration: none;">
          {{comment.content}}
        </a>
      </h5>
    </div>
    {% endfor %}


  </div>
  <h2 class="my-4">👍 나의 따봉 포스트 [{{user.like_posts.count}}]</h2>
  <hr>
  {% for post in user.like_posts.all%}
  <h5><a class="text-dark font-weight-bold" style="text-decoration:none;"
      href="{%url 'posts:detail' post.id%}">{{post.title}}</a></h5>
  {%endfor%}

  <h2 class="my-4">📑 나의 따봉 코멘트 [{{user.like_comments.count}}]</h2>
  <hr>
  {% for comment in user.like_comments.all%}
  <h5><a class="text-dark font-weight-bold" style="text-decoration:none;"
      href="{%url 'posts:detail' comment.post.id%}">{{comment.content}}</a></h5>
  {%endfor%}

</div>


{%endblock%}