{%extends 'base.html'%}
{% load bootstrap4 %}
{% load socialaccount %}
{% load static %}

{%block body%}
<div class="container my-5" style="max-width: 500px;">
  <h3 class="text-center my-4 font-weight-bold">회원가입</h3>
  <div class="p-4" style="border: 1px solid rgba(0,0,0,0.1); border-radius:5px;">
    <form action="" method="post">
      {%csrf_token%}
      {%bootstrap_form form%}
      <div class="text-center mb-3">
        <input class="btn btn-dark" type="submit" value="작성완료">
      </div>
    </form>
    <hr>
    <h6 class="text-center">이미 계정이 있으신가요? <a href="{% url 'accounts:login' %}">로그인</a></h6>
  </div>
</div>
{%endblock%}