{% extends 'base.html' %}
{% load humanize%}
{% block body %}
<div class="container my-5">
  <div class="d-flex align-items-center justify-content-between">
    <h1>🍧 {{search_user.username}}</h1>
    {%if user.is_authenticated and user != search_user %}
    {% if search_user in user.followings.all %}
    <div>
      <a class="btn btn-sm btn-danger" href="{% url 'accounts:follow' search_user.id %}">🖕 언팔로우</a>
    </div>
    {% else%}
    <div>
      <a class="btn btn-sm btn-primary" href="{% url 'accounts:follow' search_user.id %}">🦅 팔로우</a>
    </div>
    {% endif%}
    {% endif%}
  </div>
  <hr>
  <!-- following / follower -->
  <div class="text-center mb-3">
    <div class="btn-group mr-3">
      <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        팔로잉 ({{search_user.followings.all|length}})
      </button>
      <div class="dropdown-menu text-center p-3">
        {% for following in search_user.followings.all %}
        <h5 class="text-center font-weight-bold"><a class="text-dark" style="text-decoration: none;"
            href="{% url 'accounts:user_page' following.id%}">{{following.username}}</a></h5>
        {% empty %}
        <h6>팔로잉이 없습니다.</h6>
        {% endfor %}
      </div>
    </div>

    <div class="btn-group">
      <button class="btn btn-success btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        팔로워 ({{search_user.followers.all|length}})
      </button>
      <div class="dropdown-menu text-center p-3">
        {% for follower in search_user.followers.all %}
        <h5 class="text-center font-weight-bold"><a class="text-dark" style="text-decoration: none;"
            href="{% url 'accounts:user_page' follower.id%}">{{follower.username}}</a></h5>
        {% empty %}
        <h6>팔로워가 없습니다.</h6>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="row">
    {% for post in search_user.post_set.all %}
    {% include 'posts/_post_card.html' %}
    {% endfor %}
  </div>


  {% endblock %}