{% extends 'base.html'%}
{% load bootstrap4 %}
{% load make_link %}
{%block body%}
<div class="container my-5">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="mb-3 font-weight-bold">{{post.title}}</h2>
    {%if request.user == post.user %}
    <div class="d-flex justify-content-end">
      <div>
        <a class="btn btn-warning btn-sm mr-2" href="{%url 'posts:update' post.id%}">수정</a>
      </div>
      <form action="{%url 'posts:delete' post.id%}" method="POST">
        {%csrf_token%}
        <input class="btn btn-danger btn-sm" type="submit" value="삭제">
      </form>
    </div>
    {%endif%}
  </div>
  <div class="d-flex">
    <h6 class="m-0 mr-3">👤 <a href="{% url 'accounts:user_page' post.user.id%}"
        style="text-decoration: none;">{{post.user.username}}</a></h6>
    <h6 class="text-muted m-0 mr-3">📅 {{post.created_at}}</h6>
  </div>

  <hr style="border: 2px solid rgba(0,0,0,.1);">
  <div class="text-center">
    <img src="{{post.post_img.url}}">
  </div>
  <p class="my-5" style="min-height: 100px;">{{post|hashtag_link|safe}}</p>
  <div class="text-center my-5">
    {% if user.is_authenticated %}
    <button data-id="{{post.id}}" class="like-btn btn">
      {% if user in post.like_users.all %}
      <i data-id="{{post.id}}" class="fas fa-thumbs-up"><span data-id="{{post.id}}"
          class="like-count ml-2">{{post.like_users.count}}</span></i>
      {% else %}
      <i data-id="{{post.id}}" class="far fa-thumbs-up"><span data-id="{{post.id}}"
          class="like-count ml-2">{{post.like_users.count}}</span></i>
      {% endif %}
      {% endif %}
    </button>
  </div>

  <hr style="border: 2px solid rgba(0,0,0,.1);">
  <h6>💬 COMMENT</h6>
  {% if user.is_authenticated %}
  <form class="my-3" action="{% url 'posts:comments_create' post.id%}" method="post">
    {%csrf_token%}
    {%bootstrap_form comment_form%}
    <div class="d-flex justify-content-end">
      <input type="submit" class="btn btn-dark btn-sm" value="댓글달기">
    </div>
  </form>
  {% else %}
  <h6 class="text-center">댓글을 남기려면 <a href="{% url 'accounts:login' %}">로그인</a></h6>
  {% endif%}

  <hr>
  {% include 'posts/_comments.html' %}

</div>

<script>
  const likeBtn = document.querySelector('.like-btn')
  const likeIcon = document.querySelector('.fa-thumbs-up')
  likeBtn.addEventListener('click', (e) => {
    const postId = e.target.dataset.id
    const likeCount = document.querySelector(`.like-count[data-id="${postId}"]`)
    axios.get(`/posts/${postId}/like/`)
      .then(res => {
        const {
          is_post_liked,
          post_like_count
        } = res.data

        // 카운트 변경
        likeCount.innerText = post_like_count

        // 아이콘 변경
        if (is_post_liked) {
          likeIcon.classList.remove('far')
          likeIcon.classList.add('fas')
        } else {
          likeIcon.classList.remove('fas')
          likeIcon.classList.add('far')
        }

      })
      .catch(err => console.log(err))
  })
</script>

{%endblock%}