{% extends 'base.html'%}
{% load bootstrap4 %}
{%block body%}
<div class="container">
  <h5>{{post.title}}</h5>
  <h5>{{post.content}}</h5>
  <h5>{{post.created_at}}</h5>
  <h5>{{post.user.username}}</h5>
  <a class="btn btn-warning" href="{%url 'posts:update' post.id%}">수정</a>
  <form action="{%url 'posts:delete' post.id%}" method="POST">
    {%csrf_token%}
    <input class="btn btn-danger" type="submit" value="삭제">
  </form>
</div>

<form action="{% url 'posts:comments_create' post.id%}" method="post">
  {%csrf_token%}
  {%bootstrap_form create_form%}
  <input type="submit" class="btn btn-dark" value="commenting">
</form>

<div>
  {% for comment in post.comment_set.all%}
  <h5>{{comment.user.username}}</h5>
  <h6>{{comment.content}}</h6>
  {%endfor%}
</div>



{%endblock%}